
* {
	font-family: "Courier New", courier, monospace;
}

html {
	background-color: lightgrey;
}

input {
	padding-left: 5px;
}

p {
	padding-left: 5px;
}

#div1 {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
}

#div2 {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
}

#div3 {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
}

#div4 {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
}

#h1 {
	width: 125px;
	margin-top: -12px;
	margin-left: 10px;
	background: lightgrey;
}

#h2 {
	width: 148px;
	margin-top: -12px;
	margin-left: 10px;
	background: lightgrey;
}

#h3 {
	width: 204px;
	margin-top: -12px;
	margin-left: 10px;
	background: lightgrey;
}

#h4 {
	width: 294px;
	margin-top: -12px;
	margin-left: 10px;
	background: lightgrey;
}

.name {
	font-size: 12px;
	border-radius: 6px;
	border: 1px solid black;
}

.input {
	cursor: pointer;
}

.radio {
	cursor: pointer;
	display: inline-block;
	padding: 1em;
	background: grey;
	text-align: center;
	border-radius: 10px;
}

.nummers {
	display: block;
}

.select {
	margin: 10px;
	font-size: 14px;
	font-size: 12px;
	border-radius: 6px;
}

#verstuur {
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}

#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
    float: right;
}